<p>Dear {{ name }}:</p>
<p>{{ sender }}, from {{ ac_name }}, has sent you an invitation to join this Assessment Centre on Nexus with the following message:</p>
<p><i>{{ message }}</i></p>
<p>If you'd wish to accept this invitation, please navigate to <a href="{{ url }}">this link</a>.</p>
<p>If you cannot see the link above, copy/paste this address on your browser's address bar:</p><br />
<p>{{ url }}</p>
<img src="{{ absolute_url(asset('images/logo.png')) }}">
