<p>Dear {{ name }}:</p>
<p>A new appointment has just been scheduled with you at <a href="{{ home_url }}">Nexus</a>:</p>
<p>Student: {{ student }}</p>
<p>Service: {{ service }}</p>
<p>Date/time: {{ date_time }}</p>
<br />
<p>Thank you for your support!</p>
<img src="{{ absolute_url(asset('images/logo.png')) }}">
