<p>Dear {{ name }}:</p>
<p>You have just scheduled a new appointment at <a href="{{ home_url }}">Nexus</a> with the following information:</p>
<p>Service: {{ service }}</p>
<p>Needs Assessor: {{ provider }}</p>
<p>Date/time: {{ date_time }}</p>
<br />
<p>Thank you for your support!</p>
<img src="{{ absolute_url(asset('images/logo.png')) }}">
